$bg-color-light: rgba(107, 141, 219, 0.2);
$primary-color-light: rgb(255, 255, 255);
$secondary-color: rgb(107, 141, 219);
$accent-color: rgb(240, 153, 53);
$main-text-light: rgb(70, 70, 70);
$highlight-text: #cc4c77;
$toggle-wrapper: rgb(59, 59, 59);
$bg-color-dark: rgb(22, 22, 22);
$primary-color-dark: rgb(39, 39, 39);
$main-text-dark: rgb(231, 231, 231);